name: Publish to pub.dev

on:
   push:
      tags:
         - "v[0-9]+.[0-9]+.[0-9]+*"
   workflow_dispatch:

jobs:
   publish:
      permissions:
         id-token: write
         contents: read
      uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
      with:
         working-directory: .
