name: Publish to pub.dev

on:
   push:
      tags:
         - "v[0-9]+.[0-9]+.[0-9]+*"
   workflow_dispatch:

jobs:
   publish:
      name: Publish
      runs-on: ubuntu-latest
      permissions:
         contents: read
         id-token: write # Required for authentication using OIDC
      # To require a GitHub Actions environment (with configured approval or secrets),
      # set the environment name here. If you want to require an environment, create it
      # in your repo settings (e.g., 'production' or 'pub-dev') then use it below.
      environment: "production"

      steps:
         - name: Checkout repository
           uses: actions/checkout@v4

         - name: Publish to pub.dev
           # Reuse the upstream publish workflow from the dart-lang/setup-dart repo which handles OIDC auth
           uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
           with:
              # If your package lives at the repo root (most common), leave working-directory alone
              working-directory: .
              sdk: stable
